h2 {
  font-size: 1.3rem;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  display: flex;
  width: 300px;
  margin: auto;
  justify-content: space-between;
}
