.country-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 30px;
  border: 1px solid #2596be;
  box-shadow: 2px 2px 6px rgb(146, 146, 146);
  padding: 3px;
}

p.name {
  font-family: 'Nunito', sans-serif;
  color: #2596be;
  font-weight: bold;
}
