.country-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 40px;
  border: 0px solid rgb(119, 119, 119);
  box-shadow: 2px 2px 6px rgb(146, 146, 146);
}

p.name {
  color: blue;
}
